@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Wix Madefor Display", sans-serif;
  /* background-color: #F4F4FE; */
}
body {
  background-color: #f4f4fe !important;
}
.btn-outline {
  background-color: #7280ff !important;
  transition: 100ms all ease-in-out;
  color: white !important;
}
.btn-outline:hover {
  color: #212529 !important;
  background-color: #f4f4fe !important;
  border: 1px solid #7280ff !important;
}
.tempCard {
  height: 13rem;
  background-color: transparent;
  border: #7280ff 2px solid;
  margin-bottom: 2rem;
  align-items: end;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
.weatherimg {
  display: block;
}
.card-titles {
  font-size: 6rem;
  display: inline;
}
.weatherimg{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-bottom: 0;
}
.tempSymbol {
  font-size: 1.2rem;
  transition: all 100ms ease-in-out;
}
.tempSymbol:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #7280ff;
}
.dataCard {
  background-color: #7280ff;
  border-radius: 2rem;
  padding: 2rem;
}
.databox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #7280ff;
  color: white;
}
.bigDataCard {
  border: 2px solid #212529;
  border-radius: 2rem;
}
.main {
  margin-bottom: 9rem;
}

.footer {
  background-color: #212529 !important;
  color: white;
}
.box a {
  color: #7280ff;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
.box a:hover {
  color: white;
}
